<div class="aside-widget dashboard-side">
  <div class="aside-widget-head">
    <h2 class="title">{{ client_name }}</h2>
  </div><!-- End Aside-Widget-Head -->
  <div class="aside-widget-content">
    <ul class="dashboard-links">
      <li>
        <a href="{{ account }}">
          <i class="fa fa-home"></i>
          {{ text_account }}
        </a>
      </li>
      <li class="">
        <a href="{{ order }}">
          <i class="fa fa-inbox"></i>
          {{ text_order }}
        </a>
      </li>

      <li>
        <a href="{{ wishlist }}">
          <i class="fa fa-heart"></i>
          {{ text_wishlist }}
        </a>
      </li>
      <li>
        <a href="{{ address }}">
          <i class="fa fa-map-signs"></i>
          {{ text_address }}
        </a>
      </li>
      <li>
        <a href="{{ edit }}">
          <i class="fas fa-cog"></i>
          {{ text_edit }}
        </a>
      </li>
      <li>
        <a href="{{ logout }}">
          <i class="fas fa-sign-out-alt"></i>
          {{ text_logout }}
        </a>
      </li>
    </ul>
  </div><!-- End Asite-Widget-Content -->
</div>

